<!--
  ~ Copyright (C) 2022 StApps
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation, version 3.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ this program. If not, see <https://www.gnu.org/licenses/>.
  -->

<ng-container *ngIf="openingHours">
  <div>
    <ng-template [ngIf]="colorize" [ngIfElse]="blank">
      <ion-badge
        [color]="openingHours | openingHours | slice: 0:1 | join: ' '"
        slot="start"
        style="vertical-align: bottom"
      >
        {{ openingHours | openingHours | slice: 1:2 }}
      </ion-badge>
    </ng-template>
    <ng-template #blank>
      {{ openingHours | openingHours | slice: 1:2 }}
    </ng-template>
    <ng-container *ngIf="showNextChange">
      {{ openingHours | openingHours | slice: 2:3 }}
    </ng-container>
  </div>
</ng-container>
