<!--
  ~ Copyright (C) 2023 StApps
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation, version 3.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ this program. If not, see <https://www.gnu.org/licenses/>.
  -->

<div [ngSwitch]="item.type">
  <stapps-book-detail-content [item]="item" *ngSwitchCase="'book'"></stapps-book-detail-content>
  <stapps-periodical-detail-content
    [item]="item"
    *ngSwitchCase="'periodical'"
  ></stapps-periodical-detail-content>
  <stapps-article-content [item]="item" *ngSwitchCase="'article'"></stapps-article-content>
  <ng-container *ngSwitchDefault>
    <ion-item class="ion-text-wrap" lines="inset">
      <ion-thumbnail slot="start" class="ion-margin-end">
        <ion-icon color="dark" [name]="item.type | dataIcon"></ion-icon>
      </ion-thumbnail>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="ion-text-wrap">
              <h2 class="name">{{ item.name }}</h2>
              <ion-note>{{ item.type }}</ion-note>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <stapps-simple-card
      *ngIf="item.description"
      [title]="'description' | propertyNameTranslate: item | titlecase"
      [content]="'description' | thingTranslate: item"
    ></stapps-simple-card>
  </ng-container>
</div>
