/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

:host ::ng-deep {
  ion-grid,
  ion-col {
    padding-top: 0;
    padding-bottom: 0;
    padding-inline-start: 0;
  }

  ion-card {
    margin: 0;
    box-shadow: none;

    ion-card-content {
      padding-bottom: 8px;

      h1 {
        margin: 0;
      }
    }

    ion-card-header {
      padding-top: 8px;
      padding-bottom: 4px;
      font-weight: bold;
      color: var(--ion-color-dark);
    }

    ion-grid,
    ion-col {
      padding-top: 0;
      padding-bottom: 0;
      padding-inline-start: 0;
    }
  }
}
