/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

ion-content > div {
  height: 100%;
}

cdk-virtual-scroll-viewport {
  width: 100%;
  height: 100%;
}

:host ::ng-deep {
  .cdk-virtual-scroll-content-wrapper {
    width: 100%;
  }
}

.virtual-scroll-expander {
  clear: both;
}

.supertext-icon {
  height: 14px;
  vertical-align: text-top;
}
