/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

ion-content {
  // fixes the unexpected issue that the content is not fullscreen (behind the header)
  position: absolute;

  div.map-container {
    position: fixed;
    width: 100%;
    height: 100%;
  }

  & > div {
    overflow: hidden;
  }
}

ion-toolbar:first-of-type {
  padding: 0 var(--spacing-md) var(--spacing-xs);
}

div.map-buttons {
  ion-button {
    // important for iOS
    // TODO: find an option that is better suited for the iOS theme
    --box-shadow: var(--map-box-shadow);

    align-self: flex-end;
    margin: 4px;
  }
}

::ng-deep {
  .stapps-location {
    ion-icon {
      width: 100%;
      height: 100%;
      color: #fd435c;
    }
  }

  .stapps-device-location {
    ion-icon {
      width: 100%;
      height: 100%;
      color: #4387fd;
    }
  }

  div.floating-content {
    position: fixed;
    z-index: 1000;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;
    justify-content: center;

    width: 100%;
    padding: 0 var(--spacing-md) 8vh;

    ion-card {
      margin: 0;
    }

    div.map-buttons {
      display: flex;
      justify-content: flex-end;
    }

    stapps-map-item {
      justify-self: center;
      width: 550px;
      margin: var(--spacing-sm) auto;
    }
  }
}

div.floating-buttons {
  position: absolute;
  z-index: 1000;
  right: 10px;
  bottom: 15px;
}

div.map-buttons.above {
  display: none;
  min-width: 70%;
}

@media (width <= 667px) {
  div.map-buttons.above {
    display: flex;
  }

  div.floating-content {
    justify-content: normal;
    padding: 0 var(--spacing-md) var(--spacing-lg);

    stapps-map-item {
      display: grid;
      width: 100%;
    }
  }

  div.map-buttons.floating-buttons {
    display: none;
  }
}
