/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;

  ion-card-header {
    ion-button {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  ion-card-content {
    overflow: scroll;
    height: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;

  height: fit-content;
}
