/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */
$size: 16px;

ion-note {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: start;

  list-style: none;
}

abbr {
  height: $size;
}

.mask-image {
  aspect-ratio: 1;
  width: $size;

  background: var(--ion-color-medium);

  mask-image: var(--background-url);
  mask-mode: alpha;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
}

img {
  height: 100%;
  background: var(--background-url);
}

.sep {
  display: none;
  margin-inline: var(--spacing-xs);
}

abbr + .sep {
  display: revert;
}
