<!--
  ~ Copyright (C) 2023 StApps
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation, version 3.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ this program. If not, see <https://www.gnu.org/licenses/>.
  -->

<ion-grid>
  <ion-row class="ion-justify-content-between">
    <ion-col size="11" size-sm="10">
      <div class="ion-text-wrap">
        <ion-label class="title">{{ 'name' | thingTranslate: item }}</ion-label>
        <p class="title-sub ion-hide-sm-down">
          {{ 'description' | thingTranslate: item }}
        </p>
        <stapps-dish-characteristics [item]="item"></stapps-dish-characteristics>
      </div>
    </ion-col>
    <ion-col>
      <div class="ion-text-end">
        <stapps-offers-in-list *ngIf="item.offers" [offers]="item.offers"></stapps-offers-in-list>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
