<!--
  ~ Copyright (C) 2023 StApps
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation, version 3.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ this program. If not, see <https://www.gnu.org/licenses/>.
  -->
<ion-note>
  <ng-container *ngIf="item.certifications">
    <ng-container *ngFor="let cert of item.certifications">
      <abbr [title]="'description' | thingTranslate: cert">
        <img
          *ngIf="cert.compactImage"
          [src]="'compactImage' | thingTranslate: cert"
          height="16"
          [alt]="'name' | thingTranslate: cert"
        />
      </abbr>
    </ng-container>
  </ng-container>
  <div class="sep">•</div>
  <ng-container *ngIf="item.characteristics">
    <ng-container *ngFor="let characteristic of 'characteristics' | thingTranslate: item">
      <!-- Abbr tag shows the actual name on hover -->
      <abbr
        [style.--background-url]="'url(' + characteristic.image + ')'"
        [title]="characteristic.name | titlecase"
        class="mask-image"
      ></abbr>
    </ng-container>
  </ng-container>
  <div class="sep">•</div>
  <ion-label>
    {{ 'categories' | thingTranslate: item | join: ', ' | titlecase }}
  </ion-label>
</ion-note>
