/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

:host {
  ion-content {
    height: 100%;
  }

  .hour-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: var(--spacing-md);

    .hour-label {
      display: inline-block;
      width: fit-content;
      text-align: center;
    }

    .hour-line {
      width: 1px;
      height: 20px;
      margin: var(--spacing-xs) 0;
      border-left: 1px solid var(--ion-color-primary);
    }
  }

  .day-label {
    padding: 16px;
    font-size: large;
    font-weight: bold;
  }

  .event-card {
    width: 100%;
    max-width: 600px;
  }
}
