/*!
 * Copyright (C) 2022 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

ion-header {
  ion-toolbar {
    ion-back-button {
      --padding-start: 0;
      --padding-end: var(--spacing-lg);
    }

    &.tabs-toolbar {
      --min-height: 44px;
    }
  }
}

ion-segment-button[aria-selected='true'] ion-icon ::ng-deep stapps-icon {
  --fill: 1;
}

ion-content {
  --background: var(--ion-color-light);
}

div {
  height: 100%;
}

.content-container {
  display: grid;
}

.content {
  grid-column: 1;
  grid-row: 1;
}

ion-segment-button {
  max-width: 100%;
  text-transform: none;
}

ion-toolbar.in-toolbar {
  &:last-of-type {
    padding: 0 !important;
  }
}
