/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */
@import '../../../../theme/util/mixins';

:host {
  @include ion-md-up {
    top: 0;
    right: unset;

    .menu-button {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;

      display: revert;

      margin-top: var(--spacing-xxl);
    }

    ion-tab-bar {
      position: relative;

      flex-direction: column;
      gap: var(--spacing-md);

      width: var(--navigation-rail-width);
      height: 100vh;

      border-top: unset;
      border-right: var(--border);
    }

    ion-tab-button {
      flex: unset;
      height: var(--navigation-rail-item-height);
    }
  }

  position: absolute;
  z-index: 100;
  right: 0;
  bottom: 0;
  left: 0;

  .menu-button {
    display: none;
  }
}

.tab-selected ::ng-deep stapps-icon {
  --fill: 1;
}
