<!--
  ~ Copyright (C) 2023 StApps
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation, version 3.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ this program. If not, see <https://www.gnu.org/licenses/>.
  -->

<ion-item
  class="ion-text-wrap ion-margin"
  button="true"
  lines="lines"
  detail="false"
  (click)="notifySelect()"
>
  <div class="item-height-placeholder"></div>
  <ion-thumbnail slot="start" *ngIf="!hideThumbnail" class="ion-margin-end">
    <ion-icon color="dark" [name]="item.type | dataIcon" size="36"></ion-icon>
  </ion-thumbnail>
  <ng-container *ngIf="contentTemplateRef; else defaultContent">
    <ion-label class="ion-text-wrap" [ngSwitch]="true">
      <div>
        <ng-container *ngTemplateOutlet="contentTemplateRef; context: {$implicit: item}"></ng-container>
      </div>
    </ion-label>
  </ng-container>

  <ng-container *ngIf="listItemEndInteraction" [ngSwitch]="item.type">
    <stapps-rating *ngSwitchCase="'dish'" [item]="$any(item)"></stapps-rating>
    <stapps-favorite-button *ngSwitchDefault [item]="$any(item)"></stapps-favorite-button>
  </ng-container>
</ion-item>

<ng-template #defaultContent>
  <ion-label class="ion-text-wrap">
    <div>
      <ng-template [dataListItemHost]="item"></ng-template>
      <stapps-action-chip-list
        *ngIf="appearance !== 'square'"
        slot="end"
        [item]="item"
      ></stapps-action-chip-list>
    </div>
  </ion-label>
</ng-template>
