/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

:host {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  height: 100%;
}

ion-toolbar {
  --ion-color-base: none !important;
}

ion-toolbar:first-of-type {
  padding: 0 var(--spacing-md) var(--spacing-xs);
}

.category-tab {
  ion-buttons {
    gap: var(--spacing-md);

    ion-button {
      width: 50%;
      margin: 0;
      text-transform: none;
    }
  }
}

ion-content {
  --background: var(--ion-background-color);
}

.content > div {
  height: 100%;

  ion-label.centered-message-container {
    height: 100%;
    min-height: unset;
    margin-top: 0;
    margin-bottom: 0;
  }
}

ion-header {
  background: var(--ion-color-primary);
}
