<!--
  ~ Copyright (C) 2023 StApps
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation, version 3.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ this program. If not, see <https://www.gnu.org/licenses/>.
  -->

<svg xmlns="http://www.w3.org/2000/svg">
  <defs>
    <pattern id="list-item" width="100%" height="75" patternUnits="userSpaceOnUse">
      <rect width="100%" height="67" class="item"></rect>
      <mask id="label-mask">
        <rect rx="8" x="24" y="24" width="36" height="36" fill="white"></rect>
        <rect rx="6" x="72" y="24" width="180" height="12" fill="white"></rect>
        <rect rx="6" x="72" y="48" width="92" height="12" fill="white"></rect>
      </mask>
      <g mask="url(#label-mask)">
        <rect class="label" width="100%" height="100%"></rect>
        <rect fill="white" width="16" height="100%" style="filter: blur(8px)">
          <animateTransform
            attributeName="transform"
            attributeType="XML"
            type="translate"
            from="0 0"
            to="1000 0"
            dur="2s"
            repeatCount="indefinite"
          ></animateTransform>
        </rect>
      </g>
    </pattern>
  </defs>

  <rect width="100%" height="100%" fill="url(#list-item)"></rect>
</svg>
