<!--
  ~ Copyright (C) 2022 StApps
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation, version 3.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ this program. If not, see <https://www.gnu.org/licenses/>.
  -->

<ion-accordion-group *ngIf="entries as entries" [readonly]="true" [value]="entries" [multiple]="true">
  <ion-accordion *ngFor="let entry of entries" [value]="entry">
    <div *ngIf="groupMap[entry[0]] as header" slot="header" class="tree-indicator">
      <ng-container
        *ngTemplateOutlet="listItemTemplateRef || defaultListItem; context: {$implicit: header}"
      ></ng-container>
    </div>
    <ion-list slot="content" lines="none">
      <div *ngFor="let item of entry[1]._ || []" class="tree-indicator">
        <ng-container
          *ngTemplateOutlet="listItemTemplateRef || defaultListItem; context: {$implicit: item}"
        ></ng-container>
      </div>
      <tree-list-fragment
        [groupMap]="groupMap"
        [items]="entry[1]"
        [singleType]="singleType"
        [listItemTemplateRef]="listItemTemplateRef"
      ></tree-list-fragment>
    </ion-list>
  </ion-accordion>
</ion-accordion-group>

<ng-template let-item #defaultListItem>
  <stapps-data-list-item [item]="item" [hideThumbnail]="singleType"></stapps-data-list-item>
</ng-template>
