/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

ion-list {
  margin-left: 16px;
}

:host ::ng-deep ion-item {
  pointer-events: auto;
}

.tree-indicator {
  position: relative;
  overflow: hidden;
}

ion-accordion::before,
.tree-indicator::before,
.tree-indicator::after {
  content: '';

  position: absolute;
  z-index: 1000;
  left: 0;

  display: block;

  background-color: grey;
}

ion-accordion::before,
.tree-indicator::before {
  top: 0;
  width: 1px;
  height: 100%;
}

.tree-indicator::after {
  top: 50%;
  transform: translateX(calc(-50% - 8px));
  width: 40px;
  height: 1px;
}

ion-accordion::after {
  top: 24px;
}

ion-accordion:last-of-type::before {
  height: 24px;
}

.tree-indicator:last-of-type::before {
  height: 50%;
}
