/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

:host {
  ion-thumbnail {
    position: relative;
    transform: scaleX(-1);

    overflow: hidden;

    width: 100%;
    height: auto;
    margin-inline: auto;

    background-position: center;
    background-size: contain;

    ion-img {
      backdrop-filter: blur(32px);

      &::part(image) {
        transform: scaleX(-1);
        max-width: 16cm;
        margin-inline: auto;
        object-fit: contain;
      }
    }
  }

  .date-published {
    --ion-card-color: var(--ion-color-medium-shade);

    font-weight: var(--font-weight-semi-bold);
    text-transform: uppercase;
  }
}
