/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

@import '../../../../theme/util/mixins';

:host {
  display: block;
  max-width: 100%;

  ion-card {
    overflow: visible;
    padding: 0;

    ion-card-header {
      padding: 0;
      border-bottom: var(--border-width-default) solid var(--border-color-default);

      stapps-data-list-item {
        --ion-margin: 0;

        &::ng-deep ion-item {
          --padding-start: 0;
          --padding-end: 0;

          ion-label {
            white-space: break-spaces;
          }
        }
      }

      .close {
        --padding-top: 0;
        --padding-bottom: 0;
        --padding-start: 0;
        --padding-end: 0;

        position: absolute;
        z-index: 1;
        top: -15px;
        right: -15px;

        ion-icon {
          width: 30px;
          height: 30px;
        }
      }
    }

    ion-card-content {
      display: flex;
      flex-direction: row;
      padding: var(--spacing-md);

      .show-more-button {
        margin-left: auto;
        text-transform: uppercase;
      }
    }
  }
}
