<!--
  ~ Copyright (C) 2022 StApps
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation, version 3.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ this program. If not, see <https://www.gnu.org/licenses/>.
  -->

<ion-card class="compact">
  <ion-card-header>
    <stapps-data-list-item [item]="$any(item)" id="show-more"></stapps-data-list-item>
    <stapps-skeleton-list-item *ngIf="!item"></stapps-skeleton-list-item>
  </ion-card-header>
  <ion-card-content>
    <ion-note>
      <span *ngIf="item.address as address">
        <span *ngIf="$any(item).inPlace">{{ $any(item).inPlace.name }},</span>
        {{ address.streetAddress }}, {{ address.addressLocality }}
      </span>
    </ion-note>
    <ion-button
      size="small"
      class="show-more-button"
      fill="clear"
      [routerLink]="['/data-detail', item.uid]"
      >{{ 'map.page.buttons.MORE' | translate }}</ion-button
    >
  </ion-card-content>
</ion-card>
