/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */
:host {
  section {
    margin-bottom: calc(2 * var(--spacing-lg) - var(--spacing-md));
    padding: var(--spacing-md);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .section-headline {
    margin-bottom: var(--spacing-md);
  }

  .user-card-wrapper {
    margin-bottom: 0;

    .user-card {
      position: relative;

      max-width: 400px;
      margin: 0;

      border-radius: var(--border-radius-default);
      box-shadow: var(--shadow-profile-card);

      ion-card-header {
        --background: var(--ion-color-tertiary);

        display: flex;
        align-items: center;
        padding-top: var(--spacing-sm);
        padding-bottom: var(--spacing-sm);

        ion-img {
          display: block;
          height: 36px;
          margin-right: auto;
          object-position: left 50%;
        }

        span {
          padding-top: 3px;

          font-size: var(--font-size-lg);
          font-weight: var(--font-weight-bold);
          line-height: 1;
          color: var(--ion-color-light);
        }
      }

      ion-card-content {
        min-height: 15vh;

        .profile-card-img {
          position: absolute;

          width: 50%;
          height: 100%;
          margin-left: calc(var(--spacing-md) * -4);

          opacity: 0.13;
          object-position: left bottom;
        }

        .main-info {
          display: grid;
          grid-template-areas:
            'fullName fullName'
            'matriculationNumber userName'
            'email email';

          ion-label {
            display: block;
            font-size: var(--font-size-sm);
            font-weight: var(--font-weight-bold);
            color: var(--ion-color-medium-shade);
          }

          ion-text {
            display: block;
            font-size: var(--font-size-md);
            font-weight: var(--font-weight-bold);
            color: var(--ion-color-text);
          }

          .full-name {
            display: block;
            grid-area: fullName;

            margin-bottom: var(--spacing-sm);

            font-size: var(--font-size-lg);
            font-weight: var(--font-weight-bold);
          }

          .matriculation-number {
            grid-area: matriculationNumber;
            margin-bottom: var(--spacing-sm);
          }

          .user-name {
            grid-area: userName;
            margin-bottom: var(--spacing-sm);
          }

          .email {
            grid-area: email;
          }
        }

        .log-in-prompt {
          margin: auto 0;
          font-size: var(--font-size-lg);
          font-weight: var(--font-weight-semi-bold);
          color: var(--ion-color-text);
        }
      }
    }
  }

  ion-thumbnail {
    align-items: center;

    width: 80%;
    height: 80%;
    margin: 0;
    padding: 10px;

    background: var(--placeholder-gray);
    border-radius: var(--border-radius-default);

    ion-icon {
      display: block;
      width: 100%;
      height: 100%;
      color: white;
    }
  }

  ion-row.main-info {
    margin-bottom: 2px;
    font-weight: bold;
  }

  .courses {
    .courses-card {
      max-width: 800px;
      margin: 0;

      background-color: unset;
      border-radius: var(--border-radius-default) var(--border-radius-default) 0 0;
      box-shadow: none;

      ion-card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        background-color: var(--ion-item-background);
        border-radius: var(--border-radius-default) var(--border-radius-default) 0 0;

        span {
          font-size: var(--font-size-lg);
          font-weight: var(--font-weight-bold);
          color: var(--ion-item-background-color-contrast);
        }

        ion-icon {
          cursor: pointer;
          color: var(--ion-color-light);
        }
      }

      ion-card-content {
        overflow: hidden;

        max-height: 0;
        margin: 0;
        padding: 0;

        background-color: var(--ion-item-background);
        border-radius: var(--border-radius-default);

        transition: max-height 250ms ease-in-out, padding 250ms ease-in-out, margin 250ms ease-in-out;

        &.show-card {
          display: block;

          height: 100%;
          max-height: var(--max-height);
          margin: var(--spacing-xxl);
          padding: var(--spacing-md);
        }

        div {
          font-size: var(--font-size-md);
          font-weight: var(--font-weight-black);
          color: var(--ion-item-background-color-contrast);
          text-align: center;

          &.no-course {
            padding: var(--spacing-xxl) var(--spacing-lg);
          }

          &.last {
            margin-bottom: var(--spacing-xl);
          }
        }
      }
    }
  }
}
