<!--
  ~ Copyright (C) 2023 StApps
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation, version 3.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ this program. If not, see <https://www.gnu.org/licenses/>.
  -->

<div>
  <ion-text *ngIf="price && !soldOut" style="white-space: nowrap">
    <h2>
      {{ price | currency: 'EUR':'symbol':undefined:'de' }}
    </h2>
  </ion-text>
  <ion-text *ngIf="soldOut" color="danger" class="sold-out" style="white-space: nowrap">
    <h2>
      {{ 'data.detail.offers.sold_out' | translate }}
    </h2>
  </ion-text>
  <p *ngIf="_offers[0].inPlace && !soldOut" class="place" style="white-space: nowrap">
    <ion-icon name="pin_drop"></ion-icon>{{ _offers[0].inPlace.name
    }}<span *ngIf="_offers.length > 1">...</span>
  </p>
</div>
