<!--
  ~ Copyright (C) 2023 StApps
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation, version 3.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ this program. If not, see <https://www.gnu.org/licenses/>.
  -->

<ion-button
  *ngIf="canBeRated"
  fill="clear"
  (click)="$event.stopPropagation(); rate = true"
  [disabled]="rated"
>
  <ion-icon slot="icon-only" color="medium" name="thumbs_up_down"></ion-icon>
</ion-button>

<div class="rating-stars" *ngIf="rate && !rated" [@rating]="rating ? 'rated' : 'abandoned'">
  <ion-icon
    [class.rated-value]="rating === i"
    *ngFor="let i of [5, 4, 3, 2, 1]"
    (click)="$event.stopPropagation(); submitRating(i)"
    slot="icon-only"
    size="32"
    color="medium"
    name="grade"
  ></ion-icon>
  <label class="thank-you">{{ 'ratings.thank_you' | translate }}</label>
</div>
