<!--
  ~ Copyright (C) 2022 StApps
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation, version 3.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ this program. If not, see <https://www.gnu.org/licenses/>.
  -->

<ion-card>
  <ion-card-header>{{ title }}</ion-card-header>
  <ion-card-content>
    <ng-container *ngIf="isString(content); then text; else list"> </ng-container>
    <ng-template #text>
      <ng-container *ngIf="isMarkdown; else plainText">
        <markdown [data]="content"></markdown>
      </ng-container>
      <ng-template #plainText>
        <p>{{ content }}</p>
      </ng-template>
    </ng-template>
    <ng-template #list>
      <ng-container *ngIf="isThing(content[0]); then thingList; else textList"> </ng-container>
      <ng-template #thingList>
        <a [routerLink]="['/data-detail', thing.uid]" *ngFor="let thing of content">
          <p>{{ 'name' | thingTranslate: thing }}</p>
        </a>
      </ng-template>
      <ng-template #textList>
        <p *ngFor="let text of content">{{ text }}</p>
      </ng-template>
    </ng-template>
  </ion-card-content>
</ion-card>
