<ion-card>
  <ion-card-header *ngIf="title">
    <ion-skeleton-text animated style="width: 15%"></ion-skeleton-text>
  </ion-card-header>
  <ion-card-content>
    <p>
      <ion-skeleton-text
        *ngFor="let line of [].constructor(lines)"
        animated
        style="width: 85%"
      ></ion-skeleton-text>
    </p>
  </ion-card-content>
</ion-card>
