/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

.text-accordion {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;

  -webkit-box-orient: vertical;
}

ion-card {
  --background: var(--ion-color-primary);

  padding: 0 var(--spacing-md);
  border-radius: 0;

  ion-card-header {
    padding: 0;

    h1 {
      margin: var(--spacing-sm) 0 var(--spacing-sm) 0;
      font-weight: var(--font-weight-bold);
      color: var(--ion-color-primary-contrast);
    }
  }

  ion-card-content {
    padding: 0 0 var(--header-spacing-bottom);

    .description * {
      color: var(--ion-color-primary-contrast);
    }

    .opening-hours {
      color: var(--ion-color-primary-contrast);
    }
  }

  ion-button {
    --color: var(--ion-color-primary-contrast);
  }
}
