<ion-grid>
  <ion-row>
    <ion-col>
      <div class="ion-text-wrap">
        <ion-label class="title">{{ 'name' | thingTranslate: item }}</ion-label>
        <p *ngIf="item.description" class="title-sub">
          <stapps-long-inline-text
            [text]="'description' | thingTranslate: item"
            [size]="80"
          ></stapps-long-inline-text>
        </p>
        <p *ngIf="item.duration">
          {{ 'duration' | propertyNameTranslate: item | titlecase }}:
          {{ item.duration | amDuration: 'seconds' }}
        </p>
        <ion-note>{{ 'type' | thingTranslate: item }}</ion-note>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
