<!--
  ~ Copyright (C) 2022 StApps
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation, version 3.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ this program. If not, see <https://www.gnu.org/licenses/>.
  -->

<stapps-simple-card
  *ngIf="item.actors"
  [title]="'actors' | propertyNameTranslate: item | titlecase"
  [content]="item.actors"
></stapps-simple-card>
<stapps-simple-card
  *ngIf="item.authors"
  [title]="'authors' | propertyNameTranslate: item | titlecase"
  [content]="item.authors"
></stapps-simple-card>
<stapps-simple-card
  *ngIf="item.datePublished"
  [title]="'datePublished' | propertyNameTranslate: item | titlecase"
  [content]="item.datePublished | amDateFormat: 'll'"
>
</stapps-simple-card>
<stapps-offers-detail *ngIf="item.offers" [offers]="item.offers"></stapps-offers-detail>
