/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-inline-start {
  padding-inline-start: 0 !important;
}

.display-flex {
  display: flex;
}

.clickable {
  cursor: pointer;
}

%vertical-list {
  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
    }

    li img {
      max-height: 1.25rem;
      vertical-align: text-bottom;

      // filter: invert(45%) sepia(0%) saturate(0%) hue-rotate(227deg) brightness(97%) contrast(82%);
    }
  }
}

%horizontal-list {
  @extend %vertical-list;

  ul {
    li {
      display: inline;
    }

    li:not(:first-child)::before {
      content: ' • ';
    }
  }
}

.vertical-list {
  @extend %vertical-list;
}

.horizontal-list {
  @extend %vertical-list;

  li {
    display: inline;
  }
}
