/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

@import '../../theme/util/mixins';

.swiper.card-swiper {
  overflow: visible;
  padding-right: var(--spacing-lg);

  .swiper-slide {
    display: flex;
    flex-direction: column;
    height: auto; // required for same height of cards

    a {
      color: var(--ion-color-text);
      text-decoration: none;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    --swiper-navigation-size: 20px;

    @include ion-md-down {
      display: none;
    }

    top: calc(-1 * var(--spacing-lg));
    transform: translateY(0%);
    font-weight: var(--font-weight-black);
    color: var(--ion-color-dark);
  }

  .swiper-button-prev {
    right: 30px;
    left: auto;
  }

  .swiper-button-next {
    right: 0;
  }
}
