<!--
  ~ Copyright (C) 2022 StApps
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation, version 3.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ this program. If not, see <https://www.gnu.org/licenses/>.
  -->

<ion-card *ngIf="item.inPlace">
  <ion-card-header>
    {{ 'inPlace' | propertyNameTranslate: item | titlecase }}
  </ion-card-header>
  <ion-card-content>
    <ion-icon name="pin_drop"></ion-icon>
    <a [routerLink]="['/data-detail', item.inPlace.uid]">{{ 'name' | thingTranslate: item.inPlace }}</a>
    <stapps-address-detail
      *ngIf="item.inPlace.address"
      [address]="item.inPlace.address"
    ></stapps-address-detail>
  </ion-card-content>
</ion-card>
