/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

@font-face {
  font-family: Barlow;
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/barlow/Barlow-Regular.ttf');
}
@font-face {
  font-family: Barlow;
  font-weight: 700;
  font-style: normal;
  src: url('../assets/fonts/barlow/Barlow-SemiBold.ttf');
}
@font-face {
  font-family: Barlow;
  font-weight: 800;
  font-style: normal;
  src: url('../assets/fonts/barlow/Barlow-Bold.ttf');
}
@font-face {
  font-family: 'Barlow Condensed';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/barlow_condensed/BarlowCondensed-Regular.ttf');
}
@font-face {
  font-family: 'Barlow Condensed';
  font-weight: 700;
  font-style: normal;
  src: url('../assets/fonts/barlow_condensed/BarlowCondensed-SemiBold.ttf');
}
@font-face {
  font-family: 'Barlow Condensed';
  font-weight: 800;
  font-style: normal;
  src: url('../assets/fonts/barlow_condensed/BarlowCondensed-Bold.ttf');
}
