/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */
@import 'util/color-system';

@include ion-color(primary, #3880ff);
@include ion-color(secondary, #32db64);
@include ion-color(tertiary, #f4a942);
@include ion-color(success, #10dc60);
@include ion-color(warning, #ffce00);
@include ion-color(danger, #f53d3d);
@include ion-color(light, #f4f4f4, #222);
@include ion-color(medium, #989aa2, #989aa2);
@include ion-color(dark, #222, #f4f4f4);

@include ion-background-color(#f5f5f5, #000);
@include ion-item-color(#fff, #0e0e0e);

:root {
  --calender-lecture-card: var(--ion-color-primary-tint);
  --calender-lecture-card-rgb: var(--ion-color-primary-tint-rgb);
  --calender-lecture-card-contrast: var(--ion-color-primary-contrast);
  --calender-exercise-card: var(--ion-color-dark);
  --calender-exercise-card-rgb: var(--ion-color-dark-rgb);
  --calender-exercise-card-contrast: var(--ion-color-dark-contrast);
  --calender-default-card: var(--ion-color-light);
  --calender-default-card-rgb: var(--ion-color-light-rgb);
  --calender-default-card-contrast: var(--ion-color-light-contrast);
  --map-box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
  --linear-gradient: linear-gradient(135deg, var(--ion-color-primary-shade), var(--ion-color-tertiary));

  // Shadows
  --shadow-default: 0px 0px 10px 4px var(--ion-box-shadow-color);
  --shadow-cards: 0 0 8px 1px var(--ion-box-shadow-color);
  --shadow-cards-hover: 5px 5px 8px 4px var(--ion-box-shadow-color);
  --shadow-profile-card: 0 2px 6px 6px rgb(0 0 0 / 6%), 0 4px 5px 12px rgb(0 0 0 / 4%),
    0 5px 6px 20px rgb(0 0 0 / 2%);
}
