/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */
@font-face {
  font-family: 'Material Symbols Rounded';
  font-weight: 100 700;
  font-style: normal;
  font-display: block;
  src: url('../assets/icons.min.woff2') format('woff2');
}

.material-symbols-rounded {
  direction: ltr;
  display: inline-block;

  font-family: 'Material Symbols Rounded', sans-serif;
  font-size: 24px;
  font-feature-settings: 'liga'; // Support for IE
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  text-transform: none;
  text-rendering: optimizelegibility; // Support for Safari and Chrome
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;

  -webkit-font-smoothing: antialiased; // Support for all WebKit browsers
  -moz-osx-font-smoothing: grayscale; // Support for Firefox
}
