<!--
  ~ Copyright (C) 2023 StApps
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation, version 3.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ this program. If not, see <https://www.gnu.org/licenses/>.
  -->
<ion-header>
  <ion-toolbar #toolbar class="ion-hide-md-up">
    <ion-label slot="start">{{ 'dashboard.header.title' | daytimeKey | translate }}</ion-label>
    <div><ion-img src="assets/imgs/logo.png" class="logo"></ion-img></div>
  </ion-toolbar>
</ion-header>
<div #schedule class="schedule">
  <a [routerLink]="['/schedule/recurring']">
    <ion-icon size="40" weight="300" name="grid_view"></ion-icon>
    <ion-label>{{ 'schedule.recurring' | translate }}</ion-label>
  </a>
  <!-- Avoid structural directives here, they might interfere with the collapse animation -->
  <a
    [routerLink]="nextEvent?.event ? ['/data-detail', nextEvent!.event.uid] : ['/schedule/recurring']"
    class="schedule-item-button"
  >
    <ion-label>{{ 'dashboard.schedule.title' | translate }}</ion-label>
    <ion-label>
      {{
        nextEvent?.event
          ? (nextEvent!.dates | nextDateInList | amDateFormat: 'll, HH:mm')
          : ('dashboard.schedule.noEvent' | translate)
      }}
    </ion-label>
    <ion-label>{{
      nextEvent?.event ? nextEvent!.event.name : ('dashboard.schedule.noEventLink' | translate)
    }}</ion-label>
  </a>
</div>

<ion-content fullscreen="true" #ionContent>
  <stapps-search-section></stapps-search-section>
  <stapps-news-section></stapps-news-section>
  <stapps-mensa-section></stapps-mensa-section>
  <stapps-favorites-section></stapps-favorites-section>
</ion-content>
