<!--
  ~ Copyright (C) 2023 StApps
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation, version 3.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ this program. If not, see <https://www.gnu.org/licenses/>.
  -->

<ion-grid>
  <ion-row *ngIf="item.type === 'academic event'">
    <ion-col>
      <div class="ion-text-wrap">
        <ion-label class="title">{{ 'name' | thingTranslate: item }}</ion-label>
        <p *ngIf="item.description" class="title-sub">
          {{ 'description' | thingTranslate: item }}
        </p>
        <p *ngIf="item.academicTerms" class="title-sub">
          {{ 'name' | thingTranslate: item.academicTerms[0] }}
        </p>
        <ion-note *ngIf="!item.categories">{{ 'type' | thingTranslate: item | titlecase }}</ion-note>
        <ion-note *ngIf="item.categories">
          {{ 'categories' | thingTranslate: item | join: ', ' | titlecase }}
        </ion-note>
      </div>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="item.type === 'sport course'">
    <ion-col>
      <ion-label class="title">{{ 'name' | thingTranslate: item }}</ion-label>
      <p *ngIf="item.description" class="title-sub">
        {{ 'description' | thingTranslate: item }}
      </p>
      <p *ngIf="item.academicTerms" class="title-sub">
        {{ 'name' | thingTranslate: item.academicTerms[0] }}
      </p>
      <ion-note>{{ 'type' | thingTranslate: item }}</ion-note>
    </ion-col>
  </ion-row>
</ion-grid>
