<!--
  ~ Copyright (C) 2023 StApps
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation, version 3.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ this program. If not, see <https://www.gnu.org/licenses/>.
  -->

<stapps-simple-card
  *ngIf="item.type === 'academic event' && item.categories"
  [title]="'categories' | propertyNameTranslate: item | titlecase"
  [content]="'categories' | thingTranslate: item"
>
</stapps-simple-card>

<stapps-add-event-action-chip *ngIf="item.type === 'academic event'" [item]="item">
</stapps-add-event-action-chip>

<stapps-simple-card
  *ngIf="item.performers"
  [title]="'performers' | propertyNameTranslate: item | titlecase"
  [content]="item.performers"
></stapps-simple-card>
<stapps-simple-card
  *ngIf="item.organizers"
  [title]="'organizers' | propertyNameTranslate: item | titlecase"
  [content]="item.organizers"
></stapps-simple-card>
<stapps-simple-card
  *ngIf="item.type === 'academic event' && item.majors | titlecase"
  [title]="'majors' | propertyNameTranslate: item"
  [content]="item.majors"
></stapps-simple-card>
<ion-card *ngIf="item.catalogs">
  <ion-card-header>{{
    $any('superCatalogs' | propertyNameTranslate: 'catalog') | titlecase
  }}</ion-card-header>
  <ion-card-content>
    <event-route-path
      *ngFor="let item of item.catalogs"
      [maxItems]="1"
      [itemsAfterCollapse]="1"
      [itemsBeforeCollapse]="0"
      [items]="[undefined, item]"
      [more]="item.uid | lazyThing: 'superCatalogs'"
    >
    </event-route-path>
  </ion-card-content>
</ion-card>
