/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

ion-segment-button {
  max-width: 100%;
  text-transform: none;
}

.margin-top {
  margin-top: 20vh;
}

ion-toolbar.in-toolbar {
  &:last-of-type {
    padding: 0 !important;
  }
}

:host {
  --ion-item-background: var(--ion-backgrund-color);
}
