/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

ion-ripple-effect {
  z-index: 1000;
  border-radius: var(--spacing-sm);
}

ion-searchbar {
  cursor: text;
}

ion-searchbar ::ng-deep .searchbar-input-container {
  pointer-events: none;
}

ion-searchbar.ios {
  transition: opacity 150ms ease;

  ion-ripple-effect {
    display: none;
  }

  &:active {
    opacity: 0.6;
  }
  @media (hover: hover) {
    &:hover {
      opacity: 0.6;
    }
  }
}
