/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

ion-note {
  display: flex;

  > ion-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

ion-label + ion-label.distance::before {
  content: '•';
  margin-inline: var(--spacing-xs);
}

.in-place {
  display: flex;
  align-items: center;
  justify-content: end;
}
