<!--
  ~ Copyright (C) 2023 StApps
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation, version 3.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ this program. If not, see <https://www.gnu.org/licenses/>.
  -->

<stapps-place-mensa-detail-content
  [item]="item"
  [openAsModal]="openAsModal"
  *ngIf="isMensaThing(item)"
></stapps-place-mensa-detail-content>
<ng-container *ngIf="item.type !== 'floor'">
  <stapps-simple-card
    *ngIf="item.type !== 'floor' && item.categories"
    [title]="'categories' | propertyNameTranslate: item | titlecase"
    [content]="'categories' | thingTranslate: item"
  ></stapps-simple-card>
  <stapps-address-detail
    *ngIf="item.type !== 'floor' && item.address"
    [address]="item.address"
  ></stapps-address-detail>
</ng-container>
<ng-container *ngIf="item.type !== 'building'">
  <ion-card *ngIf="item.inPlace">
    <ion-card-header>
      {{ 'inPlace' | propertyNameTranslate: item | titlecase }}
    </ion-card-header>
    <ion-card-content>
      <stapps-data-list-item [item]="item.inPlace"></stapps-data-list-item>
    </ion-card-content>
  </ion-card>
</ng-container>
<ng-container *ngIf="hasValidLocation">
  <stapps-map-widget
    class="map-widget expand-when-space"
    [place]="item"
    expandable="true"
  ></stapps-map-widget>
</ng-container>
