/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */
:host {
  display: block;
  padding: var(--spacing-sm);

  ::ng-deep ion-skeleton-text {
    width: 50px;
  }
}

.stack-children {
  display: grid;
  align-items: start;
  justify-items: start;
}

.stack-children > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

.modal-content {
  --color: var(--ion-color-primary-contrast);
}

ion-footer > ion-toolbar {
  --border-color: var(--ion-color-light-shade);
}
