<!--
  ~ Copyright (C) 2022 StApps
  ~  This program is free software: you can redistribute it and/or modify it
  ~  under the terms of the GNU General Public License as published by the Free
  ~  Software Foundation, version 3.
  ~
  ~  This program is distributed in the hope that it will be useful, but WITHOUT
  ~  ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~  FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~  more details.
  ~
  ~  You should have received a copy of the GNU General Public License along with
  ~  this program. If not, see <https://www.gnu.org/licenses/>.
  -->

<ion-card>
  <ion-card-content>
    <ion-note *ngIf="item.courseOfStudy as courseOfStudy">
      {{ $any('courseOfStudy' | propertyNameTranslate: item) | titlecase }}:
      {{ 'name' | thingTranslate: $any(courseOfStudy) }}
      ({{ 'academicDegree' | thingTranslate: $any(courseOfStudy) }})
    </ion-note>
  </ion-card-content>
</ion-card>
<ion-list class="container">
  <ion-item lines="none">
    <assessment-base-info [item]="item"></assessment-base-info>
  </ion-item>
</ion-list>
