/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

ion-segment-button {
  text-transform: none;
}

ion-segment {
  overflow: auto;
  justify-content: space-between;
  height: 50px;

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }

  ion-segment-button.segment-button {
    flex: 1 0 100px;
  }
}

ion-list-header {
  ion-label {
    color: var(--ion-color-medium-shade);
  }
}
