<!--
  ~ Copyright (C) 2023 StApps
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation, version 3.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ this program. If not, see <https://www.gnu.org/licenses/>.
  -->

<ion-grid>
  <ion-row>
    <ion-col>
      <h2 class="name">
        {{ 'name' | thingTranslate: item }}
      </h2>
      <p>
        <ng-container *ngFor="let author of item.authors"> {{ 'name' | thingTranslate: author }}</ng-container
        ><ng-container *ngIf="item.authors && item.authors && item.firstPublished">,&nbsp;</ng-container>
        <ng-container *ngIf="item.firstPublished && !item.lastPublished; else dateRange">{{
          item.firstPublished
        }}</ng-container
        ><ng-template #dateRange
          ><ng-container *ngIf="item.firstPublished && item.lastPublished">{{
            [item.firstPublished, item.lastPublished] | join: ' - '
          }}</ng-container></ng-template
        >
      </p>
      <ion-note>
        {{ 'categories' | thingTranslate: item }}
      </ion-note>
    </ion-col>
  </ion-row>
</ion-grid>
