<!--
  ~ Copyright (C) 2022 StApps
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation, version 3.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ this program. If not, see <https://www.gnu.org/licenses/>.
  -->

<ion-grid>
  <ion-row>
    <ion-col>
      <div class="ion-text-wrap">
        <ion-label class="title">
          {{ 'name' | thingTranslate: item }}:
          {{ 'name' | thingTranslate: item.data }}
        </ion-label>
        <p *ngIf="item.data.description" class="title-sub">
          <stapps-long-inline-text
            [text]="'description' | thingTranslate: item.data"
            [size]="80"
          ></stapps-long-inline-text>
        </p>
        <ion-note>{{ 'type' | thingTranslate: item }} ({{ 'type' | thingTranslate: item.data }})</ion-note>
      </div>
    </ion-col>
    <ion-col width-20 text-right>
      <stapps-origin-in-list [origin]="item.origin"></stapps-origin-in-list>
    </ion-col>
  </ion-row>
</ion-grid>
