/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/core.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import '~@ionic/angular/css/display.css';

// https://swiperjs.com/angular#styles
@import 'swiper/scss';
@import 'swiper/scss/controller';

// @import 'material-symbols/rounded.scss';
@import './theme/material-symbols';
@import './theme/common/ion-content-parallax';

/* StApps */

stapps-icon {
  --size-unit: 1px;
  --weight: 400;
  --grade: 0;
  --fill: 0;
}

.map-location-pin {
  font-variation-settings: 'FILL' 1;
  color: var(--ion-color-tertiary);

  &::before {
    content: attr(name);

    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    font-variation-settings: 'FILL' 0;
    color: white;
  }
}

ion-item {
  h2.name {
    font-weight: bold;
  }

  ion-thumbnail {
    --size: 36px;

    display: flex;
    align-items: center;

    margin: 0;
    padding: 10px;

    background: transparent;

    ion-icon {
      display: block;
      width: 100%;
      height: 100%;
      color: white;
    }
  }
}

ion-item,
ion-card.compact {
  ion-grid,
  ion-col {
    padding-top: 0;
    padding-bottom: 0;
    padding-inline-start: 0;
  }
}

ion-header {
  stapps-favorite-button {
    ion-icon {
      color: var(--ion-color-primary-contrast);
    }
  }
}

.centered-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 50vh;
  margin: 20px;

  text-align: center;

  ion-icon {
    font-size: 64px;
  }

  ion-label {
    font-size: x-large;
  }
}

.add-event-popover {
  --width: fit-content;
  --max-width: 95%;
}

ion-card.bold-header {
  ion-card-header {
    font-weight: bold;
  }
}

ion-alert {
  button.alert-button.preferred {
    color: var(--ion-color-primary-contrast);
    background-color: var(--ion-color-primary);
  }

  button.alert-button.default {
    color: var(--ion-color-primary);
    background-color: transparent;
  }
}
