/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

div {
  position: absolute;
  z-index: 2;
  top: 4px;

  display: flex;
  flex-direction: row;

  width: 100%;
  margin: 0;
  padding: 0;

  div {
    width: 100%;
    height: fit-content;

    hr {
      position: absolute;

      width: 100%;
      height: 2px;
      margin-top: 8px;
      margin-right: 16px;
      margin-block-start: 0;
      margin-block-end: 0;

      border-top: 2px solid var(--ion-color-danger);
    }

    div {
      position: absolute;
      top: -3px;
      transform: rotateZ(45deg);

      width: 8px;
      height: 8px;

      background-color: var(--ion-color-danger);
      border-radius: 50% 0 50% 50%;
    }
  }
}
