/*!
 * Copyright (C) 2023 StApps
 * This program is free software: you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by the Free
 * Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
 * more details.
 *
 * You should have received a copy of the GNU General Public License along with
 * this program. If not, see <https://www.gnu.org/licenses/>.
 */

:host {
  .day-wrapper {
    border-right: 1px solid var(--ion-item-border-color);
    border-left: 1px solid var(--ion-item-border-color);

    &.leftmost {
      border-left: unset;
    }

    .day-header {
      position: sticky;
      z-index: 3;
      top: 0;
      left: 0;

      height: fit-content;
      padding: var(--spacing-md);

      font-size: var(--font-size-md);
      font-weight: var(--font-weight-bold);
      text-align: center;

      background-color: var(--ion-background-color);
      border-bottom: 2px solid var(--ion-item-border-color);

      &.leftmost {
        border-left: 1px solid var(--ion-item-border-color);
      }
    }
  }

  .schedule-card {
    overflow: hidden;
  }

  div {
    width: 100%;
    height: 100%;
  }

  .horizontal-group {
    position: absolute;
    top: 10px;
    left: 0;

    display: flex;
    grid-column: 1;
    grid-row: 1;
    flex-direction: row;
    align-items: flex-start;

    box-sizing: border-box;
    width: 100%;
    max-width: inherit;
  }

  .vertical-line {
    position: absolute;
    top: 0;
    left: 0;

    width: 1px;
    height: 100%;

    background-color: var(--calender-date-line-gray);
  }
}
