<!--
  ~ Copyright (C) 2022 StApps
  ~ This program is free software: you can redistribute it and/or modify it
  ~ under the terms of the GNU General Public License as published by the Free
  ~ Software Foundation, version 3.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT
  ~ ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  ~ FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
  ~ more details.
  ~
  ~ You should have received a copy of the GNU General Public License along with
  ~ this program. If not, see <https://www.gnu.org/licenses/>.
  -->
<div class="day-wrapper" [class.leftmost]="isLeftmost">
  <div class="day-header" [class.leftmost]="isLeftmost">
    {{ day | amDateFormat: dateFormat }}
  </div>
  <div *ngIf="dateSeriesGroups as groups">
    <div *ngFor="let group of groups" class="horizontal-group">
      <stapps-schedule-card
        class="schedule-card"
        *ngFor="let scheduleEvent of group"
        [scheduleEvent]="scheduleEvent"
        [fromHour]="hoursRange.from"
        [scale]="scale"
      >
      </stapps-schedule-card>
    </div>
  </div>
  <stapps-schedule-cursor *ngIf="day | dateIsThis: 'date'" [hoursRange]="hoursRange" [scale]="scale">
  </stapps-schedule-cursor>
</div>
